/.idea
/EBookWebsite/node_modules/
/CorsoTrainingWebsite/node_modules/
/PortfolioWebsite/node_modules/
/YavinOfficeDesign/node_modules/
/CorsoTrainingWebsite/css/
/PortfolioWebsite/css/bootstrap.css
/PortfolioWebsite/css/font-awesome.css
/PortfolioWebsite/css/styles.css
/YavinOfficeDesign/css/
